HOOKDECK_API_KEY = "<YOUR_HOOKDECK_API_KEY>"

HEADER_FILTER_VALUES = [
  "account.created.v1",
  "transaction.cancelled.v1",
  "transaction.pending.v1",
  "transaction.processed.v1",
  "account.updated.v2",
  "account.deposit_started.v1",
  "account.deposit_updated.v1",
  "account.funds_invested.v1",
  "account.funds_redeemed.v1",
]

STRIPE_SECRET_KEY = "<YOUR_STRIPE_SECRET_KEY>"