---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Deprecated"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

~> **Deprecated.** `hookdeck_source_auth` is the v2 name of [`hookdeck_gateway_source_auth`](https://registry.terraform.io/providers/hookdeck/hookdeck/latest/docs/resources/gateway_source_auth) and will be removed in v4. Rename it with a `moved` block; nothing is recreated. See the [v2 to v3 migration guide](https://registry.terraform.io/providers/hookdeck/hookdeck/latest/docs/guides/v2-to-v3-migration).

Both names take the same arguments. Examples and import instructions are on the [`hookdeck_gateway_source_auth`](https://registry.terraform.io/providers/hookdeck/hookdeck/latest/docs/resources/gateway_source_auth) page.

{{ .SchemaMarkdown | trimspace }}
